*{
    
    color: #f5f5f5;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
  
  }
  body{
    background: hsl(0deg 0% 0%);
    display: grid;
    place-items: center;
  }
  .bg{
    position: fixed;
    content:'';
    opacity: 6%;
    display: grid;
    place-items: center;
    align-items: center;
    justify-content: center;
    z-index:-2;
  
    
    
  }
  .topbar{
    top:0;
    right:0;
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 30px 20px;
    z-index:1000;
    background:transparent;
  }
.link{
    
    display:grid;
    place-items:center;
    bottom: 0;
    left: 0;
    margin: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top:0;
    z-index:-1;
    padding: 0;
}
.link a {
    font-family: 'Poppins', sans-serif;
    color:rgb(255, 0, 64);
    line-height:px;
    text-decoration: none;
}
@media screen and (max-width:900px){
        *{
          
          color: #f5f5f5;
          font-family: 'Poppins', sans-serif;
          padding: 0;
          margin: 0;
        
        }
        body{
          background: hsl(0 0% 0% / 6);
          display: grid;
          place-items: center;
        }
        .bg{
          position: fixed;
          content:'';
          opacity: 6%;
          display: grid;
          place-items: center;
          align-items: center;
          justify-content: center;
          z-index:-2;
        }
    }